//----------------------------------------------------------------------------------------------------------------------
// Main ChrisCase.io Styles
//----------------------------------------------------------------------------------------------------------------------

@import "bootstrap";
@import "./variables";
@import "./bootswatch";
@import "./overrides";

//----------------------------------------------------------------------------------------------------------------------

html {
    background-color: #333;
}

body {
    padding-top: 60px;
}

//----------------------------------------------------------------------------------------------------------------------
// Header
//----------------------------------------------------------------------------------------------------------------------

h1, h2 {
    display: flex;
    flex-direction: row;

    &:after {
        margin-left: 5px;
        background-color: #f90;
        content: '\a0';
        flex-grow: 1;
        height: 1px;
        position: relative;
        top: 0.6em;
    }
}

.panel h1,
.panel h2 {
    &:after {
        content: "";
        background-color: transparent;
        height: 0;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Google Theming
//----------------------------------------------------------------------------------------------------------------------

@google-red: #DD4B39;

.text-google {
    color: @google-red;
}

.btn-google {
    .button-variant(#fff; @google-red; darken(@google-red, 5%));
}

//----------------------------------------------------------------------------------------------------------------------
