//----------------------------------------------------------------------------------------------------------------------
// Article Styles
//----------------------------------------------------------------------------------------------------------------------

#article
{
    .content {
        h1 {
            font-size: 27px;
        }

        h2 {
            font-size: 23px;
        }

        h3 {
            font-size: 19px;
        }

        h4 {
            font-size: 15px;
        }

        h5, h6 {
            font-size: 11px;
        }

        img {
            position: relative;
            background-color: #eee;
            border: 1px solid #ddd;
            padding: 5px;
            max-width: 50%;
            z-index: 300;

            @media(max-width: 767px)
            {
                max-width: 100%;
            }
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------