<div id="home" class="container">
    <h1>Welcome to ChrisCase.io</h1>
    <p>
        This is a site all about me, <a href="/components/about">Christopher S. Case</a>. I am a Software Engineer currently
        residing in Lubbock, TX. Despite the fact that Wikipedia doesn't consider me
        <a href="http://en.wikipedia.org/wiki/Wikipedia:Notability">notable</a>, I snagged this domain name, and decided
        to put up a site to showcase my skills with web technology. As a nice benefit, it gives me a good place to throw
        any of the random thoughts I have at the collective heads of the internet. Plus, I mean, who hasn't written
        their own blog <i>at least</i> half a dozen times?
    </p>
    <h2>About the Site</h2>
    <p>
        As stated, this is mostly just a site about me. Consider it like an interactive resume; Not only will I tell you
        what skills I have, but you can see them with this site. Everything here is 100% written by me, and you can go
        <a href="">browse the code</a> if you're interested.
    </p>

    <br>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Recent Articles</h4>
                </div>
                <div ng-if="articles && articles.length > 0"  class="list-group">
                    <a href="/blog/{{ article.slug }}" class="list-group-item" ng-repeat="article in articles">
                        <div class="pull-right"><small>{{ article.created | date:'MM/dd/yy' }}</small></div>
                        <h4 class="list-group-item-heading">
                            {{ article.title }}
                            <br>
                            <small>{{ article.subtitle }}</small>
                        </h4>
                    </a>
                </div>
                <div ng-if="!articles || articles.length == 0"  class="panel-body">
                    <h4 class="text-center">No recent articles</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Other Things!</h4>
                </div>
                <div class="panel-body">
                    <h4 class="text-center">No thing here.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
